@(title: String = "", topNavActive: String, js: Seq[String] = Seq(), css: Seq[String] = Seq())(content: Html)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@title - OJNY</title>

    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/common.min.css" rel="stylesheet">

    @for(link <- css) {
    <link href="@link" rel="stylesheet">
    }

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li @if(topNavActive=="home"){class="active"}><a href="/">Home</a></li>
            <li @if(topNavActive=="problems"){class="active"}><a href="/problems">Problems</a></li>
            <li @if(topNavActive=="contests"){class="active"}><a href="/contests">Contests</a></li>
            @if(session.get("uid") != null){
            <li @if(topNavActive=="member"){class="active"}><a href="/member">Member</a></li>
            }else{
            <li @if(topNavActive=="member"){class="active"}><a href="/member/login">Log in</a></li>
            }
        </ul>
        <h3 class="text-muted">OJNY</h3>
    </div>

    <div class="body">
        @content
    </div>

    <div class="footer">
        <p>&copy; OJNY 2013 <a href="http://ojny-project.org/" target="_blank">Project Website</a></p>
    </div>

</div>

<script src="/assets/javascripts/jquery-1.11.0.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/common.min.js"></script>
@for(link <- js) {
<script src="@link"></script>
}
</body>
</html>